*{
    text-align: center;
}
.OTP{
    padding: 25px;
    width: 300px;
    background-color: aqua;

    border: 2px solid pink;
    font-family: "Robot", sans-serif;
    text-align: center;
}